*{
    margin:0;
}
html, body{
    height:100%;
}

.main{
    background-color:rgb(241, 241, 241);
    height:90%;
    position:relative;
}
/*ここはコメントなので清書時に消す*/
.comment{
    height:300px;
    width:500px;
    position:absolute;
    top:50%;
    right:50%;
    transform:translate(0, -50%);
    margin-right:20px;

    z-index:10;
}
.comment p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:10;
    background-color:rgb(255, 255, 255);
}
/*ここまでコメント*/

.main img{
    height:75%;
    width:500px;
    position:absolute;
    top:50%;
    right:50%;
    transform:translate(0, -50%);
    margin-right:20px;
}

.login{
    height:57%;
    border:1px solid rgb(185, 185, 185);
    background-color:white;
    width:500px;
    position:absolute;
    top:41%;
    left:50%;
    transform:translate(0, -50%);
    margin-left:20px;
    text-align:center;
    border-radius:15px;
}
form input{
    width:300px;
    padding:10px;
}
.password{
    margin-top:5px;
}
.form-input input{
    border:1px solid rgb(185, 185, 185);
    border-radius:10px;
}
.form-submit input{
    margin-top:10px;
    background-color:purple;
    color:white;
    border-radius:10px;
}
.form-submit input:hover{
    background-color:rgba(128, 0, 128, 0.7);
    transition:0.3s;
    cursor:pointer;
}
hr{
    margin:10px;
}
.facebook{
    display:inline-block;
    border-radius:5px;
    background-color:rgb(23, 23, 87);
    color:white;
    text-decoration:none;
    padding:5px 15px;
    margin:5px 0;
}
.facebook:hover{
    background-color:rgba(23, 23, 87, 0.7);
    transition:0.3s;
}
.new-registration{
    border:1px solid rgb(185, 185, 185);
    background-color:white; 
    margin-top:40px;
    border-radius:15px;
}
.new-registration a{
    display:inline-block;
    color:black;
    background-color:lightblue;
    border:1px solid rgb(185, 185, 185);
    width:300px;
    padding:10px 0;
    margin-bottom:5px;
    text-decoration:none;
    border-radius:10px;
}
.new-registration a:hover{
    background-color:rgba(173, 216, 230, 0.7);
    transition:0.3s;
}
footer{
    height:10%;
    position:relative;
}
footer ul{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
footer li{
    list-style:none;
    float:left;
    margin-right:10px;
    z-index:10;
}
footer a{
    color:rgb(185, 185, 185);
    text-decoration:none;
}
footer a:hover{
    text-decoration:underline;
}